* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bulma-family-primary: 'Noto Sans', sans-serif !important;
    --bulma-body-background-color: #141617;
    --text-clr: #eee;
    --headings-clr: #fff;
}

h1,
h2,
h3 {
    color: var(--headings-clr);
}

html {
    background-color: var(--bulma-body-background-color) !important;
}

button,
input,
textarea {
    outline: none;
    border: 0;
    font-family: var(--bulma-family-primary);
}